# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model cache
.cache/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# misc
*something*
